@model List<MyWebApp.AcessaDados.Entidades.Produto>

<h2>JOAO RAFAEL MENEZES - H2</h2>


<app-root></app-root>

<script src="~/AngularJS/dist/polyfills.js"></script>
<script src="~/AngularJS/dist/runtime.js"></script>
<script src="~/AngularJS/dist/styles.js"></script>
<script src="~/AngularJS/dist/vendor.js"></script>

<script src="~/AngularJS/dist/main.js"></script>

@foreach (var item in Model)
{
    <div>@item.nome</div>
}